:root {
	/* Fonts family */
	--font-family: 'Roboto', sans-serif;
	--second-family: 'Raleway', sans-serif;
	/* Logo color */
	--logo-color: #4d5ae5;
	--header-logo--color: #2e2f42;
	--footer-logo-color: #f4f4fd;
	/* Text color */
	--main-color-text: #434455;
	--secondary-color-text: #2e2f42;
	--white-color-text: #fff;
	--footer-color-text: #f4f4fd;
	--hover-color-text: #404bbf;
	--overlay-text-color: #f4f4fd;
	/* Button color */
	--btn-bg-color: #4d5ae5;
	--btn-menu-color: #2F2F37;

	/* Background-color */
	--dark-bg-color: #2e2f42;
	--main-bg-color: #fff;
	--secondary-bg-color: #f4f4fd;
	--modal-bg-color: #fcfcfc;
	--border-color: #e7e9fc;
	--border-features-color: #8e8f99;
	--overlay-bg-color: #4d5ae5;
	--hover-icon: #404bbf;
	--footer-bg-hover: #31d0aa;
}

/* ------------------------------GLOBAL------------------------------- */
html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
	font-style: normal;
	
	color: var(--main-color-text);
	background-color: var(--main-bg-color);
}

.section {
	padding: 96px 0;
}

button {
	cursor: pointer;
}

img {
	display: block;
	
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding-left: 0;
	
	list-style-type: none;
}

a {
	text-decoration: none;
}

p {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
	
	color: var(--main-color-text);
}

.visually-hidden {
	position: absolute;
	
	width: 1px;
	height: 1px;
	
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-title {
	font-size: 56px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: 0.02em;
	text-align: center;
	
	color: var(--white-color-text);
}

.second-title {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	
	color: var(--secondary-color-text);
}

.sub-second-title {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	
	color: var(--secondary-color-text);
}

.accent {
	color: var(--logo-color);
}

.employee-social-icon,
.footer-social-icon {
	fill: none;
}

.container {
	max-width: 320px;
	
	margin: 0 auto;
	padding: 0 16px;
}

/* ------------------------------HEADER------------------------------- */
.header {
	border-bottom: 1px solid var(--border-color);
	box-shadow:
		0px 2px 1px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav-list,
.address {
	display: none;
}

.header-logo,
.footer-logo {
	font-family: var(--second-family);
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	
	color: var(--header-logo--color);
}

.header-logo {
	display: block;
	padding: 16px 0;
}

.burger-btn {
	border: none;
	padding: 0;
	
	background-color: transparent;
}

.burger-icon {
	display: block;
	
	fill: var(--btn-menu-color);
}

/* ------------------------------MOBILE MENU------------------------------- */
.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
	
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	
	background-color: var(--main-bg-color);
}

.mobile-menu.is-open {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	transition:
		opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
		visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
	position: relative;
	
	display: flex;
	flex-direction: column;
	
	height: 100%;
	
	padding-top: 72px;
	padding-bottom: 40px;
}

.mobile-menu-close-btn {
	position: absolute;
	top: 24px;
	right: 24px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	height: 24px;
	width: 24px;
	
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	
	cursor: pointer;
	
	background-color: var(--border-color);
	
	transition:
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
	border: none;
	
	background-color: var(--hover-icon);
}

.mobile-menu-close-icon {
	fill: var(--dark-bg-color);
	
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover .mobile-menu-close-icon,
.mobile-menu-close-btn:focus .mobile-menu-close-icon {
	fill: var(--main-bg-color);
}

.mobile-nav-list {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.mobile-nav-link {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	
	color: var(--secondary-color-text);
}

.mobile-nav-link.active {
	color: var(--hover-color-text);
}

.mobile-nav {
	margin-bottom: auto;
}

.mobile-address-list {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.mobile-address-link {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	font-style: normal;
	
	color: var(--main-color-text);
}

.mobile-address-item.active .mobile-address-link {
	color: var(--logo-color);
}

.mobile-social-list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	
	margin-top: 48px;
}

.mobile-social-item {
	width: 40px;
	height: 40px;
}

.mobile-social-icon {
	fill: var(--secondary-bg-color);
}

.mobile-social-link:hover,
.mobile-social-link:focus {
	background-color: var(--hover-icon);
}

.mobile-social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	
	border-radius: 50%;
	
	width: 100%;
	height: 100%;
	
	background-color: var(--btn-bg-color);
	
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* -------------------------------HERO-------------------------------- */
.hero {
	background-color: var(--dark-bg-color);
}

.hero-container {
	max-width: 320px;
	
	margin: 0 auto;
	padding: 72px 16px;
	
	background-image:
		linear-gradient(
			rgba(46, 47, 66, 0.7), 
			rgba(46, 47, 66, 0.7)),
			url(../images/mobile-hero-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: var(--dark-bg-color);
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
	.hero-container {
		background-image:
			linear-gradient(
				rgba(46, 47, 66, 0.7),
				rgba(46, 47, 66, 0.7)),
				url(../images/mobile-hero-bg-2x.jpg);
	}
}

.hero-title {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	
	max-width: 216px;
	
	margin: 0 auto;
	
	color: var(--white-color-text);
}

.order-button {
	display: block;
	
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	
	width: 169px;
	height: 56px;
	
	margin: 0 auto;
	margin-top: 72px;
	padding: 16px 32px;
	border-radius: 4px;
	border: none;
	
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	
	color: var(--white-color-text);
	background-color: var(--btn-bg-color);
	
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
	background-color: var(--hover-icon);
}

/* ------------------------------FEATURES------------------------------- */
.features-box {
	display: none;
}

.features-list {
	display: flex;
	flex-direction: column;
	gap: 72px;
}

.features-list-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 8px;
}

.sub-second-title {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	
	color: var(--secondary-color-text);
}

.features-list-sub-item {
	font-weight: 500;
}

/* ------------------------------OUR TEAM ------------------------------- */
.our-team {
	background-color: var(--secondary-bg-color);
}

.team-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 72px;
	
	margin-top: 72px;
}

.team-list-item {
	width: 264px;
	
	margin: 0 auto;
	border-radius: 0 0 4px 4px;
	
	box-shadow:
		0 2px 1px 0 rgba(46, 47, 66, 0.08),
		0 1px 1px 0 rgba(46, 47, 66, 0.16),
		0 1px 6px 0 rgba(46, 47, 66, 0.08);
	
		background-color: var(--main-bg-color);
}

.employee-name,
.employee-position {
	text-align: center;
}

.employee-name,
.portfolio-name {
	margin-bottom: 8px;
}

.employee-name {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-align: center;
	
	color: var(--secondary-color-text);
}

.card-container {
	padding: 32px 16px;
}

.employee-social-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
	
	margin-top: 8px;
}

.employee-social-item {
	width: 40px;
	height: 40px;
}

.employee-social-link:hover,
.employee-social-link:focus {
	background-color: var(--hover-icon);
}

.employee-social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 100%;
	height: 100%;
	
	border-radius: 50%;
	
	background-color: var(--btn-bg-color);
	
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.employee-social-icon {
	fill: var(--secondary-bg-color);
}

/* ------------------------------PORTFOLIO------------------------------- */

.portfolio-list {
	display: flex;
	row-gap: 48px;
	column-gap: 24px;
	flex-wrap: wrap;
	
	margin-top: 72px;
}

.portfolio-list-item {
	box-shadow:
		0 2px 1px 0 rgba(46, 47, 66, 0.08),
		0 1px 1px 0 rgba(46, 47, 66, 0.16),
		0 1px 6px 0 rgba(46, 47, 66, 0.08);
	
		background-color: var(--main-bg-color);
	
		transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
	box-shadow:
		0 2px 1px 0 rgba(46, 47, 66, 0.08),
		0 1px 1px 0 rgba(46, 47, 66, 0.16),
		0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card-container {
	border-bottom: 1px solid var(--border-color);
	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
}

.portfolio-image-container {
	position: relative;
	overflow: hidden;
}

.portfolio-image {
	max-width: 288px;
}

.portfolio-name {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-align: left;
	
	color: var(--secondary-color-text);
}

.portfolio-description {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
	
	margin: 0;
	padding: 40px 32px;

	color: var(--overlay-text-color);
	background-color: var(--btn-bg-color);
	
	transform: translateY(100%);
	
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-description {
	transform: translateY(0);
}

/* ------------------------------FOOTER------------------------------- */

.footer {
	padding: 96px 0;
	
	background-color: var(--dark-bg-color);
}

.footer-container {
	display: flex;
	align-items: baseline;
	justify-content: center;
	flex-direction: column;
	gap: 72px;
}

.footer-logo {
	margin: 0 auto;
}

.footer-logo,
.footer-text {
	color: var(--footer-color-text);
}

.footer-logo-box {
	display: flex;
	
	margin-bottom: 16px;
}

.footer-social {
	display: flex;
	flex-direction: column;
	
	text-align: center;
	
	margin: 0 auto;
}

.social-media {
	font-weight: 500;
	
	margin-bottom: 16px;
	
	color: var(--white-color-text);
}

.footer-social-list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
}

.footer-social-item {
	width: 40px;
	height: 40px;
}

.footer-social-link:hover,
.footer-social-link:focus {
	background-color: var(--footer-bg-hover);
}

.footer-social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 100%;
	height: 100%;
	
	border-radius: 50%;
	
	background-color: var(--btn-bg-color);
	
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
	fill: var(--secondary-bg-color);
}

.footer-subscribe {
	text-align: center;

	margin: 0 auto;
}

.footer-subscribe-text {
	font-weight: 500;
	
	margin-bottom: 16px;
	
	color: var(--white-color-text);
}

.subscribe-form {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 16px;
}

.subscribe-input {
	width: 288px;
	height: 40px;
	
	padding: 8px 16px;
	border: 1px solid var(--main-bg-color);
	border-radius: 4px;
	
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	
	color: var(--white-color-text);
	background-color: transparent;
	
	outline: none;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	font-size: 12px;
	font-weight: 400;
	line-height: 2;
	letter-spacing: 0.04em;
}

.subscribe-input::placeholder {
	color: var(--white-color-text);
}

.subscribe-input:focus {
	border-color: var(--footer-bg-hover);
}

.subscribe-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	text-align: center;

	width: 165px;
	height: 40px;
	
	padding: 8px 24px;
	border: none;
	border-radius: 4px;
	
	cursor: pointer;
	color: var(--white-color-text);
	background-color: var(--btn-bg-color);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
	background-color: var(--footer-bg-hover);
}

.subscribe-icon {
	fill: var(--main-bg-color);
}

/* ------------------------------BACKDROP------------------------------- */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
	
	background-color: rgba(46, 47, 66, 0.4);
	
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition:
		opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
		visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
	transform: translate(-50%, -100%) scale(0.5);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	
	width: 288px;
	min-height: 584px;
	
	padding: 72px 16px 24px;
	border-radius: 4px;
	
	box-shadow:
	0 1px 1px 0 rgba(0, 0, 0, 0.14),
	0 1px 3px 0 rgba(0, 0, 0, 0.12),
	0 2px 1px 0 rgba(0, 0, 0, 0.2);
	
	background-color: var(--modal-bg-color);
	
	transform: translate(-50%, -50%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
	position: absolute;
	top: 24px;
	right: 24px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	
	height: 24px;
	width: 24px;
	
	border: 1px solid rgba(0, 0, 0, 0.1);
	
	cursor: pointer;
	background-color: var(--border-color);
	
	transition:
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
	border: none;
	
	background-color: var(--hover-icon);
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
	fill: var(--main-bg-color);
}

.modal-close-icon {
	fill: var(--dark-bg-color);
	
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
	font-weight: 500;
	text-align: center;
	
	margin-bottom: 16px;
	
	color: var(--secondary-color-text);
}

.modal-form {
	display: flex;
	flex-direction: column;
}

.modal-input-wrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;
	
	margin-bottom: 8px;
}

.modal-input-wrapper:nth-child(4) {
	margin-bottom: 16px;
}

.modal-input {
	width: 256px;
	height: 40px;

	padding-left: 38px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	
	outline: transparent;
	transition:
		color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-input {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.17;
	letter-spacing: 0.04em;

	min-height: 120px;
	
	padding: 8px 16px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	
	resize: none;
	outline: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.textarea-input:focus {
	border-color: var(--overlay-bg-color);
}

.modal-input:focus+.modal-icon {
	fill: var(--overlay-bg-color);
}

.modal-input::placeholder,
.modal-label {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.17;
	letter-spacing: 0.04em;

	color: rgba(46, 47, 66, 0.4);
}

.modal-input-icon-wrapper {
	position: relative;
}

.modal-icon {
	position: absolute;
	top: 50%;
	left: 16px;
	
	fill: var(--dark-bg-color);
	
	transform: translateY(-50%);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {
	margin-bottom: 24px;
}

.checkbox-label {
	display: flex;
	align-items: center;

	font-size: 12px;
	font-weight: 400;
	line-height: 1.17;
	letter-spacing: 0.04em;

	color: var(--border-features-color);
}

.checkbox {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	
	width: 16px;
	height: 16px;
	
	margin-right: 8px;
	border-radius: 2px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	
	fill: transparent;
	transition:
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked+.checkbox {
	border-color: var(--overlay-bg-color);
	background-color: var(--btn-bg-color);
}

.checkbox-icon {
	fill: transparent;
	opacity: 0;
	transition:
		fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked+.checkbox .checkbox-icon {
	fill: var(--secondary-bg-color);
	opacity: 1;
}

.checkbox-link {
	text-decoration: underline;
	text-decoration-skip-ink: none;

	color: var(--overlay-bg-color);
}

.checkbox-link:hover,
.checkbox-link:focus {
	color: var(--hover-color-text);
}

.modal-submit-button {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	
	width: 169px;
	height: 56px;
	
	margin: 0 auto;
	padding: 16px 32px;
	border: none;
	border-radius: 4px;
	
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	
	background-color: var(--btn-bg-color);
	color: var(--white-color-text);
	
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:hover,
.modal-submit-button:focus {
	background-color: var(--hover-icon);
}